/*-----------------
       Import
------------------*/

@import url("../../themes/white/colors.css");

/*-------------------
       Theme
-------------------*/

/*-----General-----*/

*{
  font-family: "SpaceMono Nerd Font";
  border: none;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*-----Window-----*/
window {
  border-radius: 15px 15px 15px 15px;
}

#window {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  background-color: transparent;
}

/*-----Input box-----*/
#input {
  border: none;
  background-color: rgba(40, 40, 40, 0.6);
  border-radius: 15px;
  margin: 4px 4px 8px 4px;
  padding: 8px;
  box-shadow: none;
}

/*-----Inner Box-----*/
#inner-box {
  border-radius: 15px;
}

/*-----Outer Box-----*/
#outer-box {
  background-color: rgba(40, 40, 40, 0.5);
  border-radius: 15px 15px 15px 15px;
  border: 1px solid #474747;
  padding: 10px;
  box-shadow: 0px 0px 3px 1px  #0F0F0F;
  margin: 25px;
}

/*-----Scroll-----*/
#scroll {
}

/*-----Text-----*/
#text {
  margin: 5px;
  color: #FEFEFE;
}

/*-----App images-----*/
#img {
  background-color: transparent;
}

/*-----App selected-----*/
#entry {
  border-radius: 10px;
  padding: 5px 2px 5px 2px;
  margin: 0px 4px 0px 4px;
}

#entry:selected {
  background-color: rgba(191, 97, 106, 0.5);
  padding: 7px;
}

#text:selected {
  text-decoration-color: white;
}
