/* ----------> Config for powermenu <---------- */

@theme "~/.config/rofi/themes/theme_black.rasi"

configuration {
  /* terminal: "alacritty"; */
  show-icons: false;
}

listview {
  lines: 4;
  columns: 1;
}

mainbox {
  children: [ listview ];
}
