/*-----------------
       Import
------------------*/

@import url(".config/wofi/themes/white/colors.css");

/*-------------------
       Theme
-------------------*/

/*-----General-----*/
* {
    font-family: 'Space Mono Nerd Font', monospace;
    font-size: 12px;
    color: @text1;
 }

/*-----Window-----*/
window {
   margin: 0px;
   padding: 10px;
   border: 3px solid @border1;
   border-radius: 10px;
   background-color: background3-5;
   animation: slideIn 0.5s ease-in-out both;
}

/*-----Slide In-----*/
@keyframes slideIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

/*-----Inner Box-----*/
#inner-box {
   margin: 5px;
   padding: 10px;
   border: none;
   background-color: background3-5;
   animation: fadeIn 0.5s ease-in-out both;
}

/*-----Fade In-----*/
@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

/*-----Outer Box-----*/
#outer-box {
   margin: 5px;
   padding: 10px;
   border: none;
   background-color: background3-5;
}

/*-----Scroll-----*/
#scroll {
   margin: 0px;
   padding: 10px;
   border: none;
}

/*-----Input-----*/
#input {
   margin: 5px;
   padding: 10px;
   border: none;
   color: @text1;
   background-color: background3-5;
   animation: fadeIn 0.5s ease-in-out both;
}

/*-----Text-----*/
#text {
   margin: 5px;
   padding: 10px;
   border: none;
   color: @text1;
   animation: fadeIn 0.5s ease-in-out both;
}
